body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

#pokemonInfo {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#randomPokemonList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

#pokemon-card {
    border: 1px solid #ddd;
    padding: 10px;
    width: 150px;
    text-align: center;
}

#pokemon-card img {
    max-width: 100px;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header {
    background-color: rgba(171, 0, 0);
    padding: 10px;
    text-align: center;
}
.section {
    /* flex: 1; */
    position: relative;
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.footer{
    align-items: flex-end;
    background-color: rgba(33, 29, 29, 1);
    padding: 10px;
    color: white;
}

#pokemon-info {
    background-color: aliceblue;
    padding: 10px;
}
#pokemonInfo img {
    width: 150px;
    height: 150px;
    background-color: aliceblue;
}
#pokemonInput {
    padding: 10px;
    width: 30%;
    margin-right: 10px;
}
#searchButton, #randomButton, #saveButton {
    padding: 10px 20px;
    background-color: rgba(0, 0, 171, 0.8);
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 10px;
}
#searchButton:hover, #randomButton:hover, #saveButton:hover {
    background-color: rgba(0, 0, 171, 1);
}

.contain_poke_random {
    margin-top: 20px;
    margin-bottom: 20px;
}
.lista_poke table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 200px;
}
.lista_poke th, .lista_poke td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.lista_poke th {
    background-color: #f2f2f2;
}