body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

#pokemonInfo {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#randomPokemonList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.pokemon-card {
    border: 1px solid #ddd;
    padding: 10px;
    width: 150px;
    text-align: center;
}

.pokemon-card img {
    max-width: 100px;
}